@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* ================ */

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    /* border: 1px solid red; */
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}

header .logo {
    position: relative;
    max-width: 80px;
    /* border: 1px solid orange; */
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    /* border: 1px solid pink; */
}

/* ================ */

.content {
    position: relative;
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 1px solid darkorange; */
}

.content .textBox {
    position: relative;
    max-width: 600px;
    /* border: 1px solid darkmagenta; */
}

.content .textBox h2 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    /* border: 1px solid blue; */
}

.content .imgBox img {
    max-width: 340px;
}

/* ================ */

.thumb {
    position: absolute;
    left: 50%;
    bottom: -20%;
    transform: translateX(-50%);
    display: flex;
    /* border: 1px solid green; */
}

.thumb li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb li img {
    width: 50px;
}

/* ================ */

.sci {
    position: absolute;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
    /* 小距離的位移 可以使用transform*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    /* 如果要讓圖片變小 也可以用scale*/
    filter: invert(1);
    /* filter: 反轉顏色(黑的變淺的 淺的變黑的) https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/invert */
}

/* ================ */

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #017143;
    clip-path: circle(600px at right 800px);
    /* clip-path: https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path#:~:text=The%20clip%2Dpath%20CSS%20property,while%20those%20outside%20are%20hidden. */
}